Client/src/webservice/erp/SupplyChainService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="SupplyChainServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/services/SupplyChainService?xsd=1"/>
</xsd:schema>
</types>
<message name="sayHelloWorldFrom">
<part name="parameters" element="tns:sayHelloWorldFrom"/>
</message>
<message name="sayHelloWorldFromResponse">
<part name="parameters" element="tns:sayHelloWorldFromResponse"/>
</message>
<message name="getCheckedInItems">
<part name="parameters" element="tns:getCheckedInItems"/>
</message>
<message name="getCheckedInItemsResponse">
<part name="parameters" element="tns:getCheckedInItemsResponse"/>
</message>
<message name="getItemsByGSIN">
<part name="parameters" element="tns:getItemsByGSIN"/>
</message>
<message name="getItemsByGSINResponse">
<part name="parameters" element="tns:getItemsByGSINResponse"/>
</message>
<message name="checkinItems">
<part name="parameters" element="tns:checkinItems"/>
</message>
<message name="checkinItemsResponse">
<part name="parameters" element="tns:checkinItemsResponse"/>
</message>
<message name="setOrder">
<part name="parameters" element="tns:setOrder"/>
</message>
<message name="setOrderResponse">
<part name="parameters" element="tns:setOrderResponse"/>
</message>
<message name="checkoutItems">
<part name="parameters" element="tns:checkoutItems"/>
</message>
<message name="checkoutItemsResponse">
<part name="parameters" element="tns:checkoutItemsResponse"/>
</message>
<message name="insertTrackingItems">
<part name="parameters" element="tns:insertTrackingItems"/>
</message>
<message name="insertTrackingItemsResponse">
<part name="parameters" element="tns:insertTrackingItemsResponse"/>
</message>
<message name="getItemsBySSCC">
<part name="parameters" element="tns:getItemsBySSCC"/>
</message>
<message name="getItemsBySSCCResponse">
<part name="parameters" element="tns:getItemsBySSCCResponse"/>
</message>
<message name="processOrder">
<part name="parameters" element="tns:processOrder"/>
</message>
<message name="processOrderResponse">
<part name="parameters" element="tns:processOrderResponse"/>
</message>
<message name="getQuantities">
<part name="parameters" element="tns:getQuantities"/>
</message>
<message name="getQuantitiesResponse">
<part name="parameters" element="tns:getQuantitiesResponse"/>
</message>
<message name="getOpenOrdersByGLN">
<part name="parameters" element="tns:getOpenOrdersByGLN"/>
</message>
<message name="getOpenOrdersByGLNResponse">
<part name="parameters" element="tns:getOpenOrdersByGLNResponse"/>
</message>
<message name="getItemByIdentifier">
<part name="parameters" element="tns:getItemByIdentifier"/>
</message>
<message name="getItemByIdentifierResponse">
<part name="parameters" element="tns:getItemByIdentifierResponse"/>
</message>
<message name="getItemsByBatch">
<part name="parameters" element="tns:getItemsByBatch"/>
</message>
<message name="getItemsByBatchResponse">
<part name="parameters" element="tns:getItemsByBatchResponse"/>
</message>
<message name="getOrderForSSCC">
<part name="parameters" element="tns:getOrderForSSCC"/>
</message>
<message name="getOrderForSSCCResponse">
<part name="parameters" element="tns:getOrderForSSCCResponse"/>
</message>
<message name="resetTrackedItems">
<part name="parameters" element="tns:resetTrackedItems"/>
</message>
<message name="resetTrackedItemsResponse">
<part name="parameters" element="tns:resetTrackedItemsResponse"/>
</message>
<message name="getLogisticUnitsForProduct">
<part name="parameters" element="tns:getLogisticUnitsForProduct"/>
</message>
<message name="getLogisticUnitsForProductResponse">
<part name="parameters" element="tns:getLogisticUnitsForProductResponse"/>
</message>
<message name="getStations">
<part name="parameters" element="tns:getStations"/>
</message>
<message name="getStationsResponse">
<part name="parameters" element="tns:getStationsResponse"/>
</message>
<message name="getPatients">
<part name="parameters" element="tns:getPatients"/>
</message>
<message name="getPatientsResponse">
<part name="parameters" element="tns:getPatientsResponse"/>
</message>
<message name="getPrescriptionsForPatient">
<part name="parameters" element="tns:getPrescriptionsForPatient"/>
</message>
<message name="getPrescriptionsForPatientResponse">
<part name="parameters" element="tns:getPrescriptionsForPatientResponse"/>
</message>
<message name="getPreparedPrescriptionsForPatient">
<part name="parameters" element="tns:getPreparedPrescriptionsForPatient"/>
</message>
<message name="getPreparedPrescriptionsForPatientResponse">
<part name="parameters" element="tns:getPreparedPrescriptionsForPatientResponse"/>
</message>
<message name="updateDispensedMedication">
<part name="parameters" element="tns:updateDispensedMedication"/>
</message>
<message name="updateDispensedMedicationResponse">
<part name="parameters" element="tns:updateDispensedMedicationResponse"/>
</message>
<message name="updatePreparedMedications">
<part name="parameters" element="tns:updatePreparedMedications"/>
</message>
<message name="updatePreparedMedicationsResponse">
<part name="parameters" element="tns:updatePreparedMedicationsResponse"/>
</message>
<message name="getPreparedPrescriptionsCountForPatient">
<part name="parameters" element="tns:getPreparedPrescriptionsCountForPatient"/>
</message>
<message name="getPreparedPrescriptionsCountForPatientResponse">
<part name="parameters" element="tns:getPreparedPrescriptionsCountForPatientResponse"/>
</message>
<message name="getToDoListPrescriptions">
<part name="parameters" element="tns:getToDoListPrescriptions"/>
</message>
<message name="getToDoListPrescriptionsResponse">
<part name="parameters" element="tns:getToDoListPrescriptionsResponse"/>
</message>
<message name="getDosetForPatient">
<part name="parameters" element="tns:getDosetForPatient"/>
</message>
<message name="getDosetForPatientResponse">
<part name="parameters" element="tns:getDosetForPatientResponse"/>
</message>
<portType name="SupplyChainService">
<operation name="sayHelloWorldFrom">
<input wsam:Action="http://service/SupplyChainService/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom"/>
<output wsam:Action="http://service/SupplyChainService/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse"/>
</operation>
<operation name="getCheckedInItems">
<input wsam:Action="http://service/SupplyChainService/getCheckedInItemsRequest" message="tns:getCheckedInItems"/>
<output wsam:Action="http://service/SupplyChainService/getCheckedInItemsResponse" message="tns:getCheckedInItemsResponse"/>
</operation>
<operation name="getItemsByGSIN">
<input wsam:Action="http://service/SupplyChainService/getItemsByGSINRequest" message="tns:getItemsByGSIN"/>
<output wsam:Action="http://service/SupplyChainService/getItemsByGSINResponse" message="tns:getItemsByGSINResponse"/>
</operation>
<operation name="checkinItems">
<input wsam:Action="http://service/SupplyChainService/checkinItemsRequest" message="tns:checkinItems"/>
<output wsam:Action="http://service/SupplyChainService/checkinItemsResponse" message="tns:checkinItemsResponse"/>
</operation>
<operation name="setOrder">
<input wsam:Action="http://service/SupplyChainService/setOrderRequest" message="tns:setOrder"/>
<output wsam:Action="http://service/SupplyChainService/setOrderResponse" message="tns:setOrderResponse"/>
</operation>
<operation name="checkoutItems">
<input wsam:Action="http://service/SupplyChainService/checkoutItemsRequest" message="tns:checkoutItems"/>
<output wsam:Action="http://service/SupplyChainService/checkoutItemsResponse" message="tns:checkoutItemsResponse"/>
</operation>
<operation name="insertTrackingItems">
<input wsam:Action="http://service/SupplyChainService/insertTrackingItemsRequest" message="tns:insertTrackingItems"/>
<output wsam:Action="http://service/SupplyChainService/insertTrackingItemsResponse" message="tns:insertTrackingItemsResponse"/>
</operation>
<operation name="getItemsBySSCC">
<input wsam:Action="http://service/SupplyChainService/getItemsBySSCCRequest" message="tns:getItemsBySSCC"/>
<output wsam:Action="http://service/SupplyChainService/getItemsBySSCCResponse" message="tns:getItemsBySSCCResponse"/>
</operation>
<operation name="processOrder">
<input wsam:Action="http://service/SupplyChainService/processOrderRequest" message="tns:processOrder"/>
<output wsam:Action="http://service/SupplyChainService/processOrderResponse" message="tns:processOrderResponse"/>
</operation>
<operation name="getQuantities">
<input wsam:Action="http://service/SupplyChainService/getQuantitiesRequest" message="tns:getQuantities"/>
<output wsam:Action="http://service/SupplyChainService/getQuantitiesResponse" message="tns:getQuantitiesResponse"/>
</operation>
<operation name="getOpenOrdersByGLN">
<input wsam:Action="http://service/SupplyChainService/getOpenOrdersByGLNRequest" message="tns:getOpenOrdersByGLN"/>
<output wsam:Action="http://service/SupplyChainService/getOpenOrdersByGLNResponse" message="tns:getOpenOrdersByGLNResponse"/>
</operation>
<operation name="getItemByIdentifier">
<input wsam:Action="http://service/SupplyChainService/getItemByIdentifierRequest" message="tns:getItemByIdentifier"/>
<output wsam:Action="http://service/SupplyChainService/getItemByIdentifierResponse" message="tns:getItemByIdentifierResponse"/>
</operation>
<operation name="getItemsByBatch">
<input wsam:Action="http://service/SupplyChainService/getItemsByBatchRequest" message="tns:getItemsByBatch"/>
<output wsam:Action="http://service/SupplyChainService/getItemsByBatchResponse" message="tns:getItemsByBatchResponse"/>
</operation>
<operation name="getOrderForSSCC">
<input wsam:Action="http://service/SupplyChainService/getOrderForSSCCRequest" message="tns:getOrderForSSCC"/>
<output wsam:Action="http://service/SupplyChainService/getOrderForSSCCResponse" message="tns:getOrderForSSCCResponse"/>
</operation>
<operation name="resetTrackedItems">
<input wsam:Action="http://service/SupplyChainService/resetTrackedItemsRequest" message="tns:resetTrackedItems"/>
<output wsam:Action="http://service/SupplyChainService/resetTrackedItemsResponse" message="tns:resetTrackedItemsResponse"/>
</operation>
<operation name="getLogisticUnitsForProduct">
<input wsam:Action="http://service/SupplyChainService/getLogisticUnitsForProductRequest" message="tns:getLogisticUnitsForProduct"/>
<output wsam:Action="http://service/SupplyChainService/getLogisticUnitsForProductResponse" message="tns:getLogisticUnitsForProductResponse"/>
</operation>
<operation name="getStations">
<input wsam:Action="http://service/SupplyChainService/getStationsRequest" message="tns:getStations"/>
<output wsam:Action="http://service/SupplyChainService/getStationsResponse" message="tns:getStationsResponse"/>
</operation>
<operation name="getPatients">
<input wsam:Action="http://service/SupplyChainService/getPatientsRequest" message="tns:getPatients"/>
<output wsam:Action="http://service/SupplyChainService/getPatientsResponse" message="tns:getPatientsResponse"/>
</operation>
<operation name="getPrescriptionsForPatient">
<input wsam:Action="http://service/SupplyChainService/getPrescriptionsForPatientRequest" message="tns:getPrescriptionsForPatient"/>
<output wsam:Action="http://service/SupplyChainService/getPrescriptionsForPatientResponse" message="tns:getPrescriptionsForPatientResponse"/>
</operation>
<operation name="getPreparedPrescriptionsForPatient">
<input wsam:Action="http://service/SupplyChainService/getPreparedPrescriptionsForPatientRequest" message="tns:getPreparedPrescriptionsForPatient"/>
<output wsam:Action="http://service/SupplyChainService/getPreparedPrescriptionsForPatientResponse" message="tns:getPreparedPrescriptionsForPatientResponse"/>
</operation>
<operation name="updateDispensedMedication">
<input wsam:Action="http://service/SupplyChainService/updateDispensedMedicationRequest" message="tns:updateDispensedMedication"/>
<output wsam:Action="http://service/SupplyChainService/updateDispensedMedicationResponse" message="tns:updateDispensedMedicationResponse"/>
</operation>
<operation name="updatePreparedMedications">
<input wsam:Action="http://service/SupplyChainService/updatePreparedMedicationsRequest" message="tns:updatePreparedMedications"/>
<output wsam:Action="http://service/SupplyChainService/updatePreparedMedicationsResponse" message="tns:updatePreparedMedicationsResponse"/>
</operation>
<operation name="getPreparedPrescriptionsCountForPatient">
<input wsam:Action="http://service/SupplyChainService/getPreparedPrescriptionsCountForPatientRequest" message="tns:getPreparedPrescriptionsCountForPatient"/>
<output wsam:Action="http://service/SupplyChainService/getPreparedPrescriptionsCountForPatientResponse" message="tns:getPreparedPrescriptionsCountForPatientResponse"/>
</operation>
<operation name="getToDoListPrescriptions">
<input wsam:Action="http://service/SupplyChainService/getToDoListPrescriptionsRequest" message="tns:getToDoListPrescriptions"/>
<output wsam:Action="http://service/SupplyChainService/getToDoListPrescriptionsResponse" message="tns:getToDoListPrescriptionsResponse"/>
</operation>
<operation name="getDosetForPatient">
<input wsam:Action="http://service/SupplyChainService/getDosetForPatientRequest" message="tns:getDosetForPatient"/>
<output wsam:Action="http://service/SupplyChainService/getDosetForPatientResponse" message="tns:getDosetForPatientResponse"/>
</operation>
</portType>
<binding name="SupplyChainServicePortBinding" type="tns:SupplyChainService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sayHelloWorldFrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCheckedInItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemsByGSIN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkinItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkoutItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertTrackingItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemsBySSCC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuantities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOpenOrdersByGLN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemByIdentifier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemsByBatch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderForSSCC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetTrackedItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLogisticUnitsForProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPatients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrescriptionsForPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPreparedPrescriptionsForPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDispensedMedication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePreparedMedications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPreparedPrescriptionsCountForPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getToDoListPrescriptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDosetForPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SupplyChainServiceService">
<port name="SupplyChainServicePort" binding="tns:SupplyChainServicePortBinding">
<soap:address location="http://localhost:8080/services/SupplyChainService"/>
</port>
</service>
</definitions>