Client/src/webservice/erp/SupplyChainService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="SupplyChainServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/services/SupplyChainService?xsd=1"/>
</xsd:schema>
</types>
<message name="checkinItems">
<part name="parameters" element="tns:checkinItems"/>
</message>
<message name="checkinItemsResponse">
<part name="parameters" element="tns:checkinItemsResponse"/>
</message>
<message name="checkoutItems">
<part name="parameters" element="tns:checkoutItems"/>
</message>
<message name="checkoutItemsResponse">
<part name="parameters" element="tns:checkoutItemsResponse"/>
</message>
<message name="sayHelloWorldFrom">
<part name="parameters" element="tns:sayHelloWorldFrom"/>
</message>
<message name="sayHelloWorldFromResponse">
<part name="parameters" element="tns:sayHelloWorldFromResponse"/>
</message>
<message name="getItemsBySSCC">
<part name="parameters" element="tns:getItemsBySSCC"/>
</message>
<message name="getItemsBySSCCResponse">
<part name="parameters" element="tns:getItemsBySSCCResponse"/>
</message>
<message name="getItemByIdentifier">
<part name="parameters" element="tns:getItemByIdentifier"/>
</message>
<message name="getItemByIdentifierResponse">
<part name="parameters" element="tns:getItemByIdentifierResponse"/>
</message>
<message name="getItemsByBatch">
<part name="parameters" element="tns:getItemsByBatch"/>
</message>
<message name="getItemsByBatchResponse">
<part name="parameters" element="tns:getItemsByBatchResponse"/>
</message>
<portType name="SupplyChainService">
<operation name="checkinItems">
<input wsam:Action="http://service/SupplyChainService/checkinItemsRequest" message="tns:checkinItems"/>
<output wsam:Action="http://service/SupplyChainService/checkinItemsResponse" message="tns:checkinItemsResponse"/>
</operation>
<operation name="checkoutItems">
<input wsam:Action="http://service/SupplyChainService/checkoutItemsRequest" message="tns:checkoutItems"/>
<output wsam:Action="http://service/SupplyChainService/checkoutItemsResponse" message="tns:checkoutItemsResponse"/>
</operation>
<operation name="sayHelloWorldFrom">
<input wsam:Action="http://service/SupplyChainService/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom"/>
<output wsam:Action="http://service/SupplyChainService/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse"/>
</operation>
<operation name="getItemsBySSCC">
<input wsam:Action="http://service/SupplyChainService/getItemsBySSCCRequest" message="tns:getItemsBySSCC"/>
<output wsam:Action="http://service/SupplyChainService/getItemsBySSCCResponse" message="tns:getItemsBySSCCResponse"/>
</operation>
<operation name="getItemByIdentifier">
<input wsam:Action="http://service/SupplyChainService/getItemByIdentifierRequest" message="tns:getItemByIdentifier"/>
<output wsam:Action="http://service/SupplyChainService/getItemByIdentifierResponse" message="tns:getItemByIdentifierResponse"/>
</operation>
<operation name="getItemsByBatch">
<input wsam:Action="http://service/SupplyChainService/getItemsByBatchRequest" message="tns:getItemsByBatch"/>
<output wsam:Action="http://service/SupplyChainService/getItemsByBatchResponse" message="tns:getItemsByBatchResponse"/>
</operation>
</portType>
<binding name="SupplyChainServicePortBinding" type="tns:SupplyChainService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkinItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkoutItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHelloWorldFrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemsBySSCC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemByIdentifier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemsByBatch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SupplyChainServiceService">
<port name="SupplyChainServicePort" binding="tns:SupplyChainServicePortBinding">
<soap:address location="http://localhost:8080/services/SupplyChainService"/>
</port>
</service>
</definitions>