WebService/web/WEB-INF/wsdl/SupplyChainServicePortType_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://service/" xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="checkinItems" type="tns:checkinItems"/>

  <xs:element name="checkinItemsResponse" type="tns:checkinItemsResponse"/>

  <xs:element name="checkoutItems" type="tns:checkoutItems"/>

  <xs:element name="checkoutItemsResponse" type="tns:checkoutItemsResponse"/>

  <xs:element name="getCheckedInItems" type="tns:getCheckedInItems"/>

  <xs:element name="getCheckedInItemsResponse" type="tns:getCheckedInItemsResponse"/>

  <xs:element name="getItemByIdentifier" type="tns:getItemByIdentifier"/>

  <xs:element name="getItemByIdentifierResponse" type="tns:getItemByIdentifierResponse"/>

  <xs:element name="getItemsByBatch" type="tns:getItemsByBatch"/>

  <xs:element name="getItemsByBatchResponse" type="tns:getItemsByBatchResponse"/>

  <xs:element name="getItemsBySSCC" type="tns:getItemsBySSCC"/>

  <xs:element name="getItemsBySSCCResponse" type="tns:getItemsBySSCCResponse"/>

  <xs:element name="getOpenOrdersByGLN" type="tns:getOpenOrdersByGLN"/>

  <xs:element name="getOpenOrdersByGLNResponse" type="tns:getOpenOrdersByGLNResponse"/>

  <xs:element name="getOrderForSSCC" type="tns:getOrderForSSCC"/>

  <xs:element name="getOrderForSSCCResponse" type="tns:getOrderForSSCCResponse"/>

  <xs:element name="getQuantities" type="tns:getQuantities"/>

  <xs:element name="getQuantitiesResponse" type="tns:getQuantitiesResponse"/>

  <xs:element name="insertTrackingItems" type="tns:insertTrackingItems"/>

  <xs:element name="insertTrackingItemsResponse" type="tns:insertTrackingItemsResponse"/>

  <xs:element name="processOrder" type="tns:processOrder"/>

  <xs:element name="processOrderResponse" type="tns:processOrderResponse"/>

  <xs:element name="resetTrackedItems" type="tns:resetTrackedItems"/>

  <xs:element name="resetTrackedItemsResponse" type="tns:resetTrackedItemsResponse"/>

  <xs:element name="sayHelloWorldFrom" type="tns:sayHelloWorldFrom"/>

  <xs:element name="sayHelloWorldFromResponse" type="tns:sayHelloWorldFromResponse"/>

  <xs:element name="setOrder" type="tns:setOrder"/>

  <xs:element name="setOrderResponse" type="tns:setOrderResponse"/>

  <xs:complexType name="checkoutItems">
    <xs:sequence>
      <xs:element name="arg0" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="ATC" type="xs:string" minOccurs="0"/>
      <xs:element name="beschreibung" type="xs:string" minOccurs="0"/>
      <xs:element name="checkInDate" type="xs:string" minOccurs="0"/>
      <xs:element name="expiryDate" type="xs:string" minOccurs="0"/>
      <xs:element name="GTIN" type="xs:string" minOccurs="0"/>
      <xs:element name="lot" type="xs:string" minOccurs="0"/>
      <xs:element name="menge" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="producer" type="tns:company" minOccurs="0"/>
      <xs:element name="serial" type="xs:string" minOccurs="0"/>
      <xs:element name="zusatz" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="company">
    <xs:sequence>
      <xs:element name="abteilung" type="xs:string" minOccurs="0"/>
      <xs:element name="GLN" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkoutItemsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:webServiceResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="webServiceResult">
    <xs:sequence>
      <xs:element name="items" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="result" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getItemsByBatch">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getItemsByBatchResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrderForSSCC">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrderForSSCCResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetTrackedItems">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="resetTrackedItemsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getItemsBySSCC">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getItemsBySSCCResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOpenOrdersByGLN">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOpenOrdersByGLNResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="ordered" type="xs:boolean"/>
      <xs:element name="positions" type="tns:position" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="position">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="gtin" type="xs:string" minOccurs="0"/>
      <xs:element name="quantity" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getItemByIdentifier">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getItemByIdentifierResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:item" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloWorldFrom">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloWorldFromResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setOrder">
    <xs:sequence>
      <xs:element name="arg0" type="tns:order" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setOrderResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processOrder">
    <xs:sequence>
      <xs:element name="arg0" type="tns:order" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processOrderResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:production" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="production">
    <xs:sequence>
      <xs:element name="items" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="positions" type="tns:position" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="shipment" type="tns:shipment" minOccurs="0"/>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="shipment">
    <xs:sequence>
      <xs:element name="descDestination" type="xs:string" minOccurs="0"/>
      <xs:element name="descOrigin" type="xs:string" minOccurs="0"/>
      <xs:element name="glnDestination" type="xs:string" minOccurs="0"/>
      <xs:element name="glnOrigin" type="xs:string" minOccurs="0"/>
      <xs:element name="orderNr" type="xs:string" minOccurs="0"/>
      <xs:element name="sscc" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCheckedInItems">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCheckedInItemsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:webServiceResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertTrackingItems">
    <xs:sequence>
      <xs:element name="arg0" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertTrackingItemsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="checkinItems">
    <xs:sequence>
      <xs:element name="arg0" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkinItemsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:webServiceResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQuantities">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQuantitiesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:quantity" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="quantity">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="gtin" type="xs:string" minOccurs="0"/>
      <xs:element name="minQuantity" type="xs:int"/>
      <xs:element name="optQuantity" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

