WebService/web/WEB-INF/wsdl/SupplyChainServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://service/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service/" schemaLocation="SupplyChainServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getItemByIdentifier">
    <part name="parameters" element="tns:getItemByIdentifier"/>
  </message>
  <message name="getItemByIdentifierResponse">
    <part name="parameters" element="tns:getItemByIdentifierResponse"/>
  </message>
  <message name="getItemsByBatch">
    <part name="parameters" element="tns:getItemsByBatch"/>
  </message>
  <message name="getItemsByBatchResponse">
    <part name="parameters" element="tns:getItemsByBatchResponse"/>
  </message>
  <message name="getOrderForSSCC">
    <part name="parameters" element="tns:getOrderForSSCC"/>
  </message>
  <message name="getOrderForSSCCResponse">
    <part name="parameters" element="tns:getOrderForSSCCResponse"/>
  </message>
  <message name="resetTrackedItems">
    <part name="parameters" element="tns:resetTrackedItems"/>
  </message>
  <message name="resetTrackedItemsResponse">
    <part name="parameters" element="tns:resetTrackedItemsResponse"/>
  </message>
  <message name="sayHelloWorldFrom">
    <part name="parameters" element="tns:sayHelloWorldFrom"/>
  </message>
  <message name="sayHelloWorldFromResponse">
    <part name="parameters" element="tns:sayHelloWorldFromResponse"/>
  </message>
  <message name="getCheckedInItems">
    <part name="parameters" element="tns:getCheckedInItems"/>
  </message>
  <message name="getCheckedInItemsResponse">
    <part name="parameters" element="tns:getCheckedInItemsResponse"/>
  </message>
  <message name="checkinItems">
    <part name="parameters" element="tns:checkinItems"/>
  </message>
  <message name="checkinItemsResponse">
    <part name="parameters" element="tns:checkinItemsResponse"/>
  </message>
  <message name="setOrder">
    <part name="parameters" element="tns:setOrder"/>
  </message>
  <message name="setOrderResponse">
    <part name="parameters" element="tns:setOrderResponse"/>
  </message>
  <message name="checkoutItems">
    <part name="parameters" element="tns:checkoutItems"/>
  </message>
  <message name="checkoutItemsResponse">
    <part name="parameters" element="tns:checkoutItemsResponse"/>
  </message>
  <message name="insertTrackingItems">
    <part name="parameters" element="tns:insertTrackingItems"/>
  </message>
  <message name="insertTrackingItemsResponse">
    <part name="parameters" element="tns:insertTrackingItemsResponse"/>
  </message>
  <message name="getItemsBySSCC">
    <part name="parameters" element="tns:getItemsBySSCC"/>
  </message>
  <message name="getItemsBySSCCResponse">
    <part name="parameters" element="tns:getItemsBySSCCResponse"/>
  </message>
  <message name="processOrder">
    <part name="parameters" element="tns:processOrder"/>
  </message>
  <message name="processOrderResponse">
    <part name="parameters" element="tns:processOrderResponse"/>
  </message>
  <message name="getQuantities">
    <part name="parameters" element="tns:getQuantities"/>
  </message>
  <message name="getQuantitiesResponse">
    <part name="parameters" element="tns:getQuantitiesResponse"/>
  </message>
  <message name="getOpenOrdersByGLN">
    <part name="parameters" element="tns:getOpenOrdersByGLN"/>
  </message>
  <message name="getOpenOrdersByGLNResponse">
    <part name="parameters" element="tns:getOpenOrdersByGLNResponse"/>
  </message>
  <portType name="SupplyChainService">
    <operation name="getItemByIdentifier">
      <input ns1:Action="http://service/SupplyChainService/getItemByIdentifierRequest" message="tns:getItemByIdentifier" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://service/SupplyChainService/getItemByIdentifierResponse" message="tns:getItemByIdentifierResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getItemsByBatch">
      <input ns3:Action="http://service/SupplyChainService/getItemsByBatchRequest" message="tns:getItemsByBatch" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://service/SupplyChainService/getItemsByBatchResponse" message="tns:getItemsByBatchResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getOrderForSSCC">
      <input ns5:Action="http://service/SupplyChainService/getOrderForSSCCRequest" message="tns:getOrderForSSCC" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://service/SupplyChainService/getOrderForSSCCResponse" message="tns:getOrderForSSCCResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="resetTrackedItems">
      <input ns7:Action="http://service/SupplyChainService/resetTrackedItemsRequest" message="tns:resetTrackedItems" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://service/SupplyChainService/resetTrackedItemsResponse" message="tns:resetTrackedItemsResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="sayHelloWorldFrom">
      <input ns9:Action="http://service/SupplyChainService/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://service/SupplyChainService/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCheckedInItems">
      <input ns11:Action="http://service/SupplyChainService/getCheckedInItemsRequest" message="tns:getCheckedInItems" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://service/SupplyChainService/getCheckedInItemsResponse" message="tns:getCheckedInItemsResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="checkinItems">
      <input ns13:Action="http://service/SupplyChainService/checkinItemsRequest" message="tns:checkinItems" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://service/SupplyChainService/checkinItemsResponse" message="tns:checkinItemsResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setOrder">
      <input ns15:Action="http://service/SupplyChainService/setOrderRequest" message="tns:setOrder" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns16:Action="http://service/SupplyChainService/setOrderResponse" message="tns:setOrderResponse" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="checkoutItems">
      <input ns17:Action="http://service/SupplyChainService/checkoutItemsRequest" message="tns:checkoutItems" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns18:Action="http://service/SupplyChainService/checkoutItemsResponse" message="tns:checkoutItemsResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="insertTrackingItems">
      <input ns19:Action="http://service/SupplyChainService/insertTrackingItemsRequest" message="tns:insertTrackingItems" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns20:Action="http://service/SupplyChainService/insertTrackingItemsResponse" message="tns:insertTrackingItemsResponse" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getItemsBySSCC">
      <input ns21:Action="http://service/SupplyChainService/getItemsBySSCCRequest" message="tns:getItemsBySSCC" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns22:Action="http://service/SupplyChainService/getItemsBySSCCResponse" message="tns:getItemsBySSCCResponse" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="processOrder">
      <input ns23:Action="http://service/SupplyChainService/processOrderRequest" message="tns:processOrder" xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns24:Action="http://service/SupplyChainService/processOrderResponse" message="tns:processOrderResponse" xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getQuantities">
      <input ns25:Action="http://service/SupplyChainService/getQuantitiesRequest" message="tns:getQuantities" xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns26:Action="http://service/SupplyChainService/getQuantitiesResponse" message="tns:getQuantitiesResponse" xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getOpenOrdersByGLN">
      <input ns27:Action="http://service/SupplyChainService/getOpenOrdersByGLNRequest" message="tns:getOpenOrdersByGLN" xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns28:Action="http://service/SupplyChainService/getOpenOrdersByGLNResponse" message="tns:getOpenOrdersByGLNResponse" xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

